/****************************
GENERAL
*****************************/

body {
	max-width: 940px;
	margin: 0 auto;
  background-color:#001a4c;
  color: #999;
  font-family: 'Verdana', sans-serif;
  /*background-image: url('../img/paper.jpg');
  background-size: 200%;
  #999;*/
  font-family: 'Open Sans', sans-serif;
}


#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  
}

a {
  text-decoration: none;
  color:#6ab47b;
}

img {
  max-width: 100%;
  /* border-radius: 5%; */
}

ul {
	list-style: none;
}


/****************************
HEADER
*****************************/


header {
  
  float: left;
  margin: 0;
  padding: 5px 0 0 0;
  width: 100%;
  
  
  background: #002366 ; 
  border-color:#599a68;
  /* border-radius: 5%; */
  position: relative;
}



#logo {
  text-align: center;
  margin: 0;
}

div#header_image {
	  float: right;
	
}
h3 {
  margin: 0 0 1em 0;
  color: #002366 ;
   background: rgba(0, 35, 102, 0.3); 	/*  background with 30% opacity */ 
   padding: 6px;
   border-radius: 5px;
  font-size: 2em;
position: absolute;
bottom: 20px;
left: 20px;
}


/****************************
NAVIGATION
*****************************/

#nav {
  background: #002366 ;
  
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0; 
}

#nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

#nav li {
  display: inline-block;
}

#nav a {
  font-weight: 400;
  padding: 10px 10px;
  
}

#nav a, #nav a:visited {
  color: #fff;
}

#nav a.selected, #nav a:hover {
  color: #80abff  ;
  text-decoration: underline;
}

/****************************
TABLE
*****************************/
 .flex-container {
    width: 100%;
    height: 500px;
    background-color: lightgrey;
}

.flex-item {
    background-color: #006000;
   /*  width: 300px;  */
    height: 95%;
}

.centred {
	display: flex;
	-webkit-justify-content: center;
    justify-content: center;
	-webkit-align-items: center;
    align-items: center;
	
}

#table {
	background: #004800;
	/* border: 5px solid #004800; */
	/* padding: 10px; */
	max-width: 100%;
	
}

#desk  {
	/* border: 2px solid magenta; */
	min-width: 60px;
	padding: 10px;
}

#desk img {
	width: 150px;
}

#play {
	width: 70%;
	/* min-width: 370px; */
	/* border: 2px solid red; */
	background: #006000;
}

#in_play{
	/* border: 13px solid #004800; */
	padding: 15px;
	width: 100%;
	
}

#inform {
	background-color: #1D1D1D;
	/* background-color:#001a4c; */
	border-left: 13px solid #004800;
	flex-direction: column;
}

.who {
	color: #f2e7bf;
	font-weight: bold;
}
#dialog {
	margin-top: 12px;
}

#talk {
	background: #f2e7bf;
	margin: 0 auto;
	margin-bottom: 0.7em;
	color: #001a4c;
	padding: 7px;
	font-size: 1em;
}

#answer {
	width: 80px;
	margin: 0 auto;
	/* display: none; */
} 

button {
	height: 20px;
	background-color: #001a4c;
	color: #f2e7bf;
	margin: 2px;
}

.cards {
	display: flex;
	text-align: center;
	margin: 0px;
	    -webkit-padding-start: 0;
		
}
.cards li{
	margin: 0 4px;
	display: inline-block;
	padding: 4px;
	width: 77px;
	height: 100px;
	background-color: #004800;
}
.cards li img {
	width: 100%;
}


.score {
	color: #f2e7bf;
	padding: 25px;
	font-size: 1em;
	height: 80%;
	/* border: 2px solid magenta; */
}

#toBet {
 width: 35px;
 padding-left: 6px; 
 padding-right:6px; 
}

#setBet {
 display: block;
}




/****************************
PAGE: ABOUT
*****************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

.p-about p {
	color: #32673f; 
	line-height: 1.4;
	text-align  : justify;

}
/****************************
PAGE: CONTACT
*****************************/


.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
    background-image: url('../img/phone.png');
}

.contact-info li.mail a {
    background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
    background-image: url('../img/facebook-wrap.png');
}


.contact-info li.skype a {
    background-image: url('../img/skype.png');
}


/****************************
FOOTER
*****************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #999;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}